#skills {
  .charts {
    .small-section {
      display: grid;

      .list-icons {
        .list-inline-item {
        }
      }

      #chartdiv{
        width: 1000px;
        height: 500px;

        a {
          display: none !important;
        }
      }
    }
  }
}